
.ipynb_checkpoints/M7_A2 - Machine Learning-checkpoint.ipynb
.ipynb_checkpoints/M7_A1 - Machine Learning e Entropia-checkpoint.ipynb
.ipynb_checkpoints/Bibliotecas_python-checkpoint.ipynb
.ipynb_checkpoints/M7_A3_PI - Overfitting-checkpoint.ipynb
